.fonts h2 {
    text-decoration: underline;
}

section {
    margin: 30px;
    padding: 10px;
    width: 60%;
    text-align: center;
    border: 3px black solid;

}


.colors {
    display: inline-block;
    height: 100px;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}

#c1 {
    background-color: #E27D60;
}

#c2 {
    background-color: #85DCBB; 
}

#c3 {
    background-color: #E8A87C; 
}

#c4 {
    background-color: #C38D9E; 
}

#c5 {
    background-color: #41B3A3; 
}