section {
    margin: 20px;
    padding: 10px;
    width: 70% auto;
    text-align: center;
    border: 3px black solid;
    box-sizing: border-box;
    
}

h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 25px;
}

h2 {
    font-family: Lato;
    font-weight: 18px;
    font-size: 18px;
}

p, li{
    font-family: Quicksand;
    font-weight:400px;
    font-size: 14px;
}

/* Colors section styles */
.colors {
    box-sizing: border-box;
    display: inline-block;
    height: 130px;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

#c1 {
    background-color: #E27D60;
}

#c2 {
    background-color: #85DCBB; 
}

#c3 {
    background-color: #E8A87C; 
}

#c4 {
    background-color: #C38D9E; 
}

#c5 {
    background-color: #41B3A3; 
}

/* Font section styles */ 
.fonts div {
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    margin: 15px;
}

.fonts h2 {
    text-decoration: underline;
    font-family: Montserrat;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

#montserrat {
    font-family: Montserrat;
}

#quicksand {
    font-family: Quicksand;
}

#lato {
    font-family: Lato;
}

/* Headings section styles */
.headings {
    text-align: left;
    padding-left: 30px;
}